<div class="col-md-12">
    <h1>Hogwarts Wizards</h1>
</div>

<div class="col-md-12">
    <ol>
        <% @wizards.each do |wizard| %>
            <li><a href="/dashboard/wizards/<%= wizard.id %>"><%= wizard.fname %> <%= wizard.lname %></a></li>
        <% end %>
    </ol>
</div>