<div class="row align-items-center" style="width: 100vw; height: 80vh;">
    <div class="col-md-4"></div>
    <div class="col-md-4 text-center">
        <img src="/images/hogwarts-logo-v2.png" alt="Logo" />
        <% if @error != "" %>
            <div class="alert alert-danger text-center">
                <%= @error %>
            </div>
        <% end %>
        <form action="/login" method="POST">
            <input type="text" class="form-control" name="username" placeholder="Hogwarts ID" />
            <br>
            <div class="input-group">
                <input type="password" class="form-control" name="password" placeholder="Password" />
                <div class="input-group-append">
                    <input type="submit" class="btn btn-primary" id="submit" value="Login" />
                </div>
            </div>
        </form>
        <hr>
        <p>Need an account? <a href="/signup">Sign Up Here</a></p>
    </div>
</div>