<div style="padding-bottom: 50px">
    <div class="col-md-12">
        <h1>Hogwarts Spells</h1>
    </div>

    <div class="col-md-12">
        <hr>
        <a href="/dashboard/spells/new" class="btn btn-primary">Create a New Spell</a>
        <br><br>
        <div class="table-responsive" style="height: 500px; border: solid 1px #aaa;">
            <table class="table table-bordered table-striped table-condensed table-hover">
                <% @spells.each.with_index(1) do |spell, index| %>
                    <tr title="<%= spell.effect %>">
                        <td style="width: 1%; white-space: nowrap; text-align: right;"><%= index %>.</td>
                        <td><a href="/dashboard/spells/<%= spell.id %>"><%= spell.name %></a></td>
                    </tr>
                <% end %>
            </table>
        </div>
    </div>
</div>