<div class="col-md-6">
    <h1>Create a New Spell</h1>
    
    <hr>
    <form action="/dashboard/spells" method="POST">
        <input type="text" name="name" class="form-control" placeholder="Name" />
        <br>
        <input type="text" name="effect" class="form-control" placeholder="Effect" />
        <br>
        <input type="submit" value="Create Spell" class="btn btn-primary" />
    </form>
</div>